/Project_Frogger/frogger-reincarnation/target/
/Project_Frogger/GameCommons/target/
/OOSE/Spielfenster/nbproject/private/
/OOSE/Spielfenster/build/
/OOSE/Spielfenster/.gradle/
/Project_Brettspiel/MainFrame/nbproject/private/
/Project_Brettspiel/VierGewinnt/target/